<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>gulp-scss-starter</title>
    //= includes/head.html
  </head>
  <body>
    <div class="page-main">
      <header>
        <div class="header">
          <a href="" class="header__logo"></a>
          <ul class="header-list">
            <li class="header-list__item active">
              <a href="#" class="header-list__link">Home</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">About</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">Contents</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">Books</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">Education</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">Education</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">Skills</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">Portfolio</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">Clients</a>
            </li>
            <li class="header-list__item">
              <a href="#" class="header-list__link">Contact</a>
            </li>
          </ul>
        </div>
      </header>

      <div class="page">
        <div class="wrap">
          <div class="block-book">
            <div class="block-book-demo ">
              <h2 class=" block-book-demo__title">Good Book<span>Don’t judge a book by its cover</span></h2>
              <p class="block-book-demo__author">- By Emma Anderson</p>
            </div>
            <div class="block-text">
              <p class="block-text__name">- By Emma Anderson</p>
              <h1 class="block-text__title">
                BUKEE: THE BOOK
                <span>A room without books is like a body without a soul</span>
              </h1>
              <p class="block-text__descr">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <p class="block-text__descr">
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a href="#" class="block-text__btn">Buy this book - 15$</a>
              <small class="block-text__sm"
                >* Some conditions may applicable</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    
      <div class="wrap ">
        <div class="block-author">
          <div class="block-text">
            <p class="block-text__name block-text__name_top">- Book author</p>
            <h1 class="block-text__title">
              Emma Anderson
              <span>A room without books is like a body without a soul</span>
            </h1>
            <p class="block-text__descr ">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="block-text__descr">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
            <a href="#" class="block-text__btn">Read full biography</a>
          </div>
          <div class="block-ava">
            <svg width="435" height="558" class="block-ava__svg">
              <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0 y1="0" x2="435" y2="558">
                <stop offset="0" style="stop-color: #426384" />    
                <stop offset="1" style="stop-color: #5ACAB1" />
              </linearGradient>
              <rect width="435" height="558" x1="0" y1="0" fill="url(#gradient)">  </rect>
            </svg>
            <img src="../img/girl.png" class="block-ava__img">
          </div>
        </div>
        <div class="block-counter">
          <p><span>12</span> Total published books</p>
          <p><span>5</span>Sponsors</p>
          <p><span>15,000</span> Happy readers</p>
        </div>
      </div>
    

    <div class="page page_grey">
      <div class="wrap">
        <h1 class="page-title">Book Contents</h1>
        <p class="page-subtitle">Let’s see what we have covered in the book</p>
        <div class="block-about">
          <div class="block-about-text">
            <h3>About the book</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut
              enim ad minim veniam, quis nostrud exercitation ull amco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillu m dolore eu fugiat
              nulla pariatur.
            </p>
            <div  class="block-about-social">
              <h4>Feautered in:</h4>
              <ul class="block-about-social__list">
                <li> <a href=""><i class="fab fa-stack-overflow"></i></a></li>
                <li><a href=""><i class="fab fa-amazon"></i></a></li>
                <li><a href=""><i class="fab fa-sass"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="block-about-table">         
            <h3>Table of Contents</h3>
            <ol class="block-about-table__list">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipisicing elit</li>
              <li>Labore et dolore magna</li>
              <li>Consectetur adipisicing elit</li>
              <li>Labore et dolore magna</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipisicing elit</li>
              <li>Labore et dolore magna</li>
              <li>Consectetur adipisicing elit</li>
              <li>Labore et dolore magna</li>
            </ol>
            <button>More</button>
          </div>
        </div>
      </div>
    </div>


    <div class="page">
      <div class="wrap mb-161" >    
        <h1 class="page-title">Other Books</h1>
        <p class="page-subtitle">Some books you might be interested in</p>
          <div class="block-other-books">
            
            <div class="block-other-books-item">
              <div class="block-other-books-item-demo">
                <h2 class="block-other-books-item-demo__title">Inception<span>Books are the best friends</span></h2>
                <p class="block-other-books-item-demo__author">- By Emma Anderson</p>
              </div>
              <h3 class="block-other-books-item__title">Inception</h3>
              <p class="block-other-books-item__par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
              <a href="#" class="block-other-books-item__more">READ MORE</a>
            </div>        

          
            <div class="block-other-books-item">
              <div class="block-other-books-item-demo">
                <h2 class="block-other-books-item-demo__title">Fight Club<span>Books are the best friends</span></h2>
                <p class="block-other-books-item-demo__author">- By Emma Anderson</p>
              </div>             
              <h3 class="block-other-books-item__title">Inception</h3>
              <p class="block-other-books-item__par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore</p>
              <a href="#" class="block-other-books-item__more">READ MORE</a>
            </div>
        
          
            <div class="block-other-books-item">
              <div class="block-other-books-item-demo">   
                <h2 class="block-other-books-item-demo__title">Daredevils<span>Books are the best friends</span></h2>
                <p class="block-other-books-item-demo__author">- By Emma Anderson</p>
              </div>
              <h3 class="block-other-books-item__title">Inception</h3>
              <p class="block-other-books-item__par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore</p>
              <a href="#" class="block-other-books-item__more">READ MORE</a>
            </div>
        </div>
        <button class="page-button">Browse all books</button>
      </div>
    </div>


    <div class="page">
      <div class="wrap">
        <div class="block-carousel">
          <div>
            <div class="block-carousel-ava">
              <div class="block-carousel-thumb">
                <img src="../img/feedback.png" alt="">
              </div>
              <span class="block-carousel-bq"></span>
            </div>
            <h3 class="block-carousel__name">Kate Dennings</h3>
            <p class = "block-carousel__descr block-carousel__expert">Calligraphy Expert</p>
            <p class = "block-carousel__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
          </div>
          <div>
            <div class="block-carousel-ava">
              <div class="block-carousel-thumb">
                <img src="../img/feedback.png" alt="">
              </div>
              <span class="block-carousel-bq"></span>
            </div>
            <h3 class="block-carousel__name">Kate Dennings</h3>
            <p class = "block-carousel__descr block-carousel__expert">Calligraphy Expert</p>
            <p class = "block-carousel__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
          </div>
          <div>
          <div class="block-carousel-ava">
            <div class="block-carousel-thumb">
              <img src="../img/feedback.png" alt="">
            </div>
            <span class="block-carousel-bq"></span>
          </div>
            <h3 class="block-carousel__name">Kate Dennings</h3>
            <p class="block-carousel__descr block-carousel__expert">Calligraphy Expert</p>
            <p class = "block-carousel__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
          </div>
        </div>
      </div>
    </div>




    <div class="wrap ">
      <div class="block-author">
        <div class="block-ava ">
          <svg width="435" height="704" class="block-ava__svg block-ava__svg--left">
            <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0 y1=" 0" x2="435" y2="558">
              <stop offset="0" style="stop-color: #426384" />
              <stop offset="1" style="stop-color: #5ACAB1" />
            </linearGradient>
            <rect width="435" height="704" x1="0" y1="0" fill="url(#gradient)"> </rect>
          </svg>
          <img src="../img/girl_2.png" class="block-ava__img block-ava__img--left">
        </div>
        <div class="block-text block-text--margin_left">
          <p class="block-text__name">- Emma Anderson</p>
          <h1 class="block-text__title block-text__title--margin">
            Upcoming Events
            <span>Some upcoming events you might be interested in</span>
          </h1>

          <div class="block-text-item">
            <p class="block-text-item__date">November 21, 2018</p>
            <h4 class = "block-text-item__title ">Book signing - San francisco, CA</h4>
            <p class="block-text-item__descr ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p>
            <a href="" class="block-text-item__btn">Register</a>
          </div>

          <div class="block-text-item">
            <p class="block-text-item__date">November 21, 2018</p>
            <h4 class="block-text-item__title">Book signing - San francisco, CA</h4>
            <p class="block-text-item__descr ">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            </p>
            <a href="" class="block-text-item__btn">Register</a>
          </div>
        </div>        
      </div>
    </div>



    <div class="page page_grey">
      <div class="wrap wrap--bottom">
        <h1 class="page-title">Latest from Blog</h1>
        <p class="page-subtitle">Some of the latest posts from my personal blog</p>
        <div class="block-news">

          <div class="block-news-item">
            <div class="block-news-item-img"><img src="../img/blog1.jpg" alt="block1"></div>
            <h3 class="block-news-item__title ">Importance of light in photography</h3>
            <h4 class="block-news-item__date">By <span>Emma Anderson</span> - <span>June 20, 2018</span></h4>
            <p class="block-news-item__descr">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna
            aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
          </div>

          <div class="block-news-item">
            <div class="block-news-item-img"><img src="../img/blog2.jpg" alt="block2"></div>
            <h3 class="block-news-item__title ">Importance of light in photography</h3>
            <h4 class="block-news-item__date">By <span>Emma Anderson</span> - <span>June 20, 2018</span></h4>
              <p class="block-news-item__descr">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor
                incididunt ut labore et dolore magna
                aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
          </div>

          <div class="block-news-item">
            <div class="block-news-item-img"><img src="../img/blog3.jpg" alt="blog3"></div>
            <h3 class="block-news-item__title ">Importance of light in photography</h3>
            <h4 class="block-news-item__date">By <span>Emma Anderson</span> - <span>June 20, 2018</span></h4>
              <p class="block-news-item__descr">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor
                incididunt ut labore et dolore magna
                aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
              </p>
          </div>
        </div>
        <a href="#" class="page_btn">Read more in the blog</a>
        
      </div>
    </div>

    <div class="page">
      <div class="wrap">
        <div class="block-nlet">
          <div class="block-nlet-join">
            <h1 class="block-nlet-join__title">Join Newsletter</h1>
            <p class="block-nlet-join__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
          </div>
          <div class="block-nlet-subscribe">
            <input class="block-nlet-subscribe__input" type="text" placeholder="Enter your email">
            <button class="block-nlet-subscribe__btn" type="submit">Subscripe</button>
          </div>
        </div>
      </div>
    </div>



    <div class="footer">
      <div class="wrap">
        <div class="block-footer">
          <div class="block-footer-item">
            <a href="#" class="block-footer-item__logo"><img src="../img/logo.png" alt=""></a>
            <p class="block-footer-item__descr">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
           <p class="block-footer-item__descr"> © 2018 Bukee Private Limited.</p>
          </div>
          <div class="block-footer-item">
            <h2 class="block-footer-item__title">Useful Links</h2>
            <ul class="block-footer-item__list">
              <li>About Bukee</li>
              <li>Explore Our Ecosystem</li>
              <li>Monthly Community Meetup</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
          <div class="block-footer-item">
            <h2 class="block-footer-item__title">Our Contacts</h2>
            <ul class="block-footer-item__list">
              <li>Amphitheatre Parkway, CA, 94043</li>
              <li>Call us on: +4455663322</li>
              <li>Email: support@bukee.mail</li>
            </ul>

            <ol class="block-footer-item__icons">
              <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-twitch"></i></a></li>
              <li><a href=""><i class="fab fa-youtube"></i></a></li>
              <li><a href=""><i class="fab fa-slack-hash"></i></a></li>
              <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./js/main.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    
    <script>
      $(document).ready(function () {
        $(".block-carousel").slick({
          dots: true,
          arrows: false,
        });
      });
    </script>

  </body> 

</html>
