$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$dark-text: #9191b5;
$gradient: linear-gradient(
  to left,
  rgba(101, 228, 206, 0.7) 0%,
  rgba(101, 228, 161, 0.7) 100%
);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 24px;
}
body {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}

.container {
  @include container();
  @include sm(max-width, 510px);
  @include md(max-width, 690px);
  @include lg(max-width, 930px);
  @include xl(max-width, 1110px);
}

.img-responsive {
  max-width: 500px;
  width: 100%;
  height: auto;
}
.wrap {
  max-width: 1170px;
  margin: 0 auto;
  &--bottom {
    padding-bottom: 161px;
  }
}
.page-main {
  background: linear-gradient(-60deg, #54b7a1 0%, #426384 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-color;
  padding-bottom: 162px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 166px;
  &__logo {
    background-image: url("../../img/logo.png");
    display: block;
    width: 137px;
    height: 28px;
  }
  &-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.8px;
    font-family: "Open Sans", serif;
    &__link {
      text-decoration: none;
      color: $light-color;
    }
    &__item {
      margin-left: 17px;
      padding-bottom: 5px;
      border-bottom: 3px solid transparent;
      transition: 0.3s;
      &:hover {
        border-bottom: 3px solid $accent-color;
      }
    }
    &__item.active {
      border-bottom: 3px solid $accent-color;
    }
  }
}

.block-text {
  flex-basis: calc(100% - 495px);
  &--margin_left {
    margin-left: 110px;
  }
  &-item {
    margin-bottom: 64px;
    &__date {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      /* Text style for "November 2" */
      letter-spacing: 0.75px;
      margin-bottom: 13px;
    }
    &__title {
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px;
      margin-bottom: 23px;
    }
    &__descr {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.75px;
    }
    &__btn {
      display: block;
      background: $gradient;
      max-width: 136px;
      text-decoration: none;
      color: $light-color;
      text-align: center;
      border-radius: 3px;
      padding: 15px 0;
      margin-top: 18px;
      letter-spacing: 0.72px;
      box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
    }
  }
  &__name {
    font-family: "Open Sans", serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.92px;
    margin-bottom: 45px;
    &--margin {
      margin-bottom: 27px;
    }
    span {
      display: block;
      color: $accent-color;
      font-size: 18px;
      letter-spacing: 0.9px;
      font-weight: 400;
      margin-top: 22px;
    }
  }
  &__name_top {
    margin-top: 20px;
  }

  &__descr {
    font-family: "Open Sans", serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.75px;
    margin-bottom: 35px;
  }
  &__btn {
    display: block;
    background: $gradient;
    max-width: 250px;
    text-decoration: none;
    color: $light-color;
    text-align: center;
    border-radius: 3px;
    padding: 15px 0;
    margin-top: 53px;
    letter-spacing: 0.72px;
    box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
    margin-bottom: 25px;
  }
  &__sm {
    font-style: italic;
  }
}

.block-book {
  display: flex;
  justify-content: space-between;

  &-demo {
    width: 445px;
    height: 639px;
    background-repeat: no-repeat;
    display: block;
    background-image: url("../../img/book.png");
    flex-basis: 445px;
    position: relative;
    &__title {
      font-size: 36px;
      letter-spacing: 1.44px;
      font-weight: 700;
      right: 86px;
      top: 109px;
      color: $light-color;
      text-transform: uppercase;
      position: absolute;
      span {
        font-size: 14px;
        letter-spacing: 0.7px;
        color: $accent-color;
        display: block;
        font-family: "Open Sans";
        text-transform: none;
        font-weight: 400;
        margin-top: 5px;
      }
    }
    &__author {
      font-family: "Open Sans";
      letter-spacing: 0.7px;
      font-size: 14px;
      position: absolute;
      bottom: 56px;
      left: 86px;
    }
  }
}

.block-ava {
  position: relative;
  &__svg {
    position: absolute;
    z-index: -1;
    right: 0;
    &--left {
      right: inherit;
      left: 0;
    }
  }
  &__img {
    margin-top: 47px;
    margin-right: 44px;
    &--left {
      margin-left: 51px;
      margin-right: 0;
    }
  }
}

.block-author {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}

.block-counter {
  display: flex;
  justify-content: space-around;
  margin-top: 203px;
  margin-bottom: 156px;
  p {
    font-size: 18px;
    text-align: center;
    font-family: "Open Sans", serif;
    span {
      display: block;
      font-size: 80px;
      font-weight: 100;
      font-family: "Roboto Slab", serif;
      color: $accent-color;
      margin-bottom: 30px;
    }
  }
}

.page {
  &-title {
    text-align: center;
    padding-top: 156px;
    padding-bottom: 22px;
    font-size: 48px;
  }
  &-subtitle {
    text-align: center;
    color: $accent-color;
    margin-bottom: 90px;
    font-size: 18px;
  }
  &_grey {
    background-color: $bg-light-color;
  }
  &-button {
    padding: 17px 44px;
    background: $gradient;
    border-radius: 3px;
    color: $light-color;
    font-family: "Roboto Slab";
    box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
    display: block;
    margin: 0 auto;
  }
}

.block-about {
  display: flex;
  justify-content: space-between;
  h3 {
    margin-bottom: 29px;
    letter-spacing: 1.2px;
  }
  &-social {
    display: flex;
    align-items: center;
    h4 {
      margin-right: 24px;
    }
    &__list {
      list-style-type: none;
      color: $accent-color;
      & > li {
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;
        & > a {
          color: $accent-color;
          font-size: 18px;
        }
      }
    }
  }
  &-text {
    flex-basis: 40%;
    h4 {
      font-size: 18px;
      letter-spacing: 0.9px;
      font-weight: 700;
      font-family: "Roboto slab", serif;
    }
    p {
      font-family: "Open Sans", serif;
      font-size: 15px;
      margin-bottom: 37px;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0.75px;
    }
  }
  &-table {
    flex-basis: 50%;
    & > button {
      padding: 17px 44px;
      margin-top: 38px;
      margin-bottom: 256px;
      background: $gradient;
      border-radius: 3px;
      color: $light-color;
      font-family: "Roboto Slab";
      box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
    }
    &__list {
      margin: 0;
      padding: 0;
      counter-reset: list;
      column-count: 2;
      & > li {
        counter-increment: list;
        list-style-type: none;
        position: relative;
        padding-left: 35px;
        font-family: "Open Sans";
        margin-bottom: 16px;
        &::after {
          content: "+";
          left: 0;
          position: absolute;
          background: $gradient;
          padding: 4px 7px;
          font-size: 15px;
          line-height: 15px;
          top: 0px;
          color: $light-color;
        }
        &::before {
          content: counter(list) ". ";
        }
      }
    }
  }
}

.block-other-books {
  display: flex;
  justify-content: space-between;
  &-item {
    flex-basis: 32%;
    &__title {
      /* Style for "Fight Club" */
      color: $bg-dark-color;
      font-family: "Roboto Slab";
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 1.2px;
      display: block;
      text-align: center;
      margin-top: 37px;
    }
    &__par {
      display: block;
      text-align: center;
      /* Style for "Lorem ipsu" */
      margin-top: 20px;

      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      /* Text style for "Lorem ipsu" */
      letter-spacing: 0.75px;
    }
    &__more {
      text-decoration: none;
      color: $accent-color;
      text-align: center;
      display: block;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      margin-top: 14px;
      margin-bottom: 90px;
    }
    &-demo {
      background-repeat: no-repeat;
      display: block;
      background-image: url("../../img/book.png");
      /* Style for "book" */
      width: 269px;
      height: 409px;
      margin: 0 auto;
      border-radius: 5px;
      position: relative;
      &__title {
        font-size: 24px;
        letter-spacing: 0.96px;
        font-family: "Roboto Slab";
        color: $light-color;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 70px;
        left: 70px;
        span {
          display: block;
          text-transform: initial;
          color: $accent-color;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.6px;
          margin-top: 10px;
        }
      }
      &__author {
        font-size: 12px;
        font-family: "Open Sans";
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.6px;
        color: $accent-color;
        position: absolute;
        text-align: center;
        bottom: 27px;
        left: 79px;
      }
    }
  }
}

.block-news {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  overflow: hidden;
  & + .page_btn {
    padding: 17px 0px;
    background: $gradient;
    border-radius: 3px;
    color: $light-color;
    font-family: "Roboto Slab";
    box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
    margin: 84px auto 0;
    display: block;
    max-width: 265px;
    text-align: center;
  }
  &-btn {
    &__btn {
      padding: 17px 0px;
      background: $gradient;
      border-radius: 3px;
      color: $light-color;
      font-family: "Roboto Slab";
      box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
      margin: 84px auto 0;
      display: block;
      max-width: 265px;
      text-align: center;
    }
  }
  &-item {
    flex-basis: 33%;
    &-img {
      margin-bottom: 21px;
      img {
        width: 369px;
        height: 224px;
      }
    }
    &__title {
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px;
    }
    &__date {
      /* Style for "By Emma An" */
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      line-height: 44px;
      letter-spacing: 0.75px;
      margin-top: 10px;
      margin-bottom: 20px;
      span {
        color: $accent-color;
      }
    }
    &__descr {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.75px;
    }
  }
}

.block-nlet {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  &-join {
    flex-basis: 49%;
    &__title {
      font-family: "Roboto Slab";
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 1.92px;
    }
    &__descr {
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.75px;
      margin-top: 23px;
    }
  }
  &-subscribe {
    flex-basis: 49%;
    &__btn {
      padding: 17px 44px;
      margin-top: 20px;
      margin-bottom: 256px;
      width: 100%;
      background: $gradient;
      border-radius: 3px;
      color: $light-color;
      font-family: "Roboto Slab";
      box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
      letter-spacing: 0.72px;
      font-size: 18px;
      font-weight: 400;
    }
    &__input {
      display: block;
      width: 100%;
      padding: 15px 15px;
      color: $dark-text;
      background-color: $bg-dark-color;
      border: none;
      border-radius: 3px;
      margin-top: 8px;
      &::focus {
        outline: none;
      }
      &::placeholder {
        color: $dark-text;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.75px;
      }
    }
  }
}

.footer {
  background-color: $bg-dark-color;
  padding: 80px 0;
}

.block-footer {
  display: flex;
  justify-content: space-between;
  &-item {
    flex-basis: 29%;
    &::nth-child(1) {
      flex-basis: 32%;
    }
    &__title {
      color: $accent-color;
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      /* Text style for "Useful Lin" */
      letter-spacing: 0.72px;
      margin-bottom: 30px;
    }
    &__descr {
      color: $dark-text;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.6px;
      margin-top: 28px;
    }
    &__list {
      color: $dark-text;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.6px;
      list-style-type: none;
      & > li {
        padding: 5px 0;
      }
    }
    &__icons {
      list-style-type: none;
      display: flex;
      margin-top: 18px;
      & > li {
        margin-right: 13px;
        & > a {
          color: $accent-color;
        }
      }
    }
  }
}

.block-carousel {
  text-align: center;
  margin-top: 224px;
  &-ava {
    position: relative;
    display: block;
    width: 152px;
    height: 152px;
    margin: 0 auto 23px;
  }
  &-bq {
    background: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 48px;
    height: 42px;
    background-image: url(../../img/bq.png);
  }
  &__name {
    color: $accent-color;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-top: 29px;
    margin-bottom: 3px;
  }
  &__descr {
    color: $dark-text;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    max-width: 760px;
    margin: 0 auto 43px;
  }
  &__expert {
    margin-top: 9px;
    margin-bottom: 43px;
  }
  &-thumb {
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 152px;
    border-radius: 100px;
    height: 152px;
    img {
      width: 152px;
      height: 152px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
}

.mb-161 {
  margin-bottom: 161px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  & > li {
    margin: 0 5px;

    & > button {
      width: 8px;
      text-indent: -9999px;
      height: 8px;
      border: none;
      background-color: $accent-color;
      border-radius: 100%;
    }
  }
  & > li.slick-active {
    & > button {
      width: 37px;
      border-radius: 4px;
    }
  }
}
